*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}
section{
    width: 100%;
    height: 100vh;
    display: grid;
    color: white;
    place-items: center;
    font-size: 30px;
}
.section1{
    background-image: url('https://images.pexels.com/photos/1996333/pexels-photo-1996333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.section2{
    background-image: url('https://images.pexels.com/photos/2541239/pexels-photo-2541239.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.section3{
    background-image: url('https://images.pexels.com/photos/1056251/pexels-photo-1056251.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.section4{
    background-image: url('https://images.pexels.com/photos/19455161/pexels-photo-19455161/free-photo-of-pomeranian-dog-on-pavement.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.section5{
    background-image: url('https://images.pexels.com/photos/2862070/pexels-photo-2862070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}